
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djangoメモ帳</title>
    <!-- Bootstrap CSSの読み込み -->
<!-- 速度遅い場合「htmlファイルのhttps://で始まる行が原因でないか」とのことで以下をコメントにしたらはやくなった　-->
    <!-- <link href="https://jsdelivr.net" rel="stylesheet"> -->
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'memo_list' %}">My Notepad</a>
        </div>
    </nav>

    <div class="container">
        <!-- ここに各ページの中身が流し込まれます -->
        {% block content %}
        {% endblock %}
    </div>
    <br>
    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <a href="{% url 'post_list'%}">ログアウト</a>
        </div>
    </nav>
</body>
</html>