
{% if user.is_authenticated %}
    <!-- ログインしている時だけ表示 -->
    <p>ようこそ、{{ user.username }}さん</p>
    <!--<form action="{% url 'logout' %}" method="post">-->
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <a href="{% url 'memo_list' %}"style="font-weight: bold; font-size: 1.2em;">👉メモ一覧</a>
         <br> <br> <br>

        <button type="submit">ログアウト</button>
    </form>
{% else %}
    <!-- ログインしていない時だけ表示 -->
    <a href="{% url 'login' %}">ログイン</a> <!--ログアウトボタン押すと未ログイン状態になる-->
{% endif %}

<!--
上記
action="{% url 'logout' %}" 
href="{% url 'login' %}"
について、URLを設定してないのにボタン押したら割り当てられたページが表示されるのは
editapp/urls.py に書いた include('django.contrib.auth.urls') が、目に見えないところでURLを「予約」してくれているから
Djangoの標準認証システムである

「path('accounts/', include('django.contrib.auth.urls')),」
この include を書くと、Djangoは内部に隠し持っているURLリストをあなたのアプリにガッチャンコと結合します。その隠しリストの
中には、最初から次のような「名前（name）」が登録されています。
name='login' （URLは /accounts/login/）
name='logout' （URLは /accounts/logout/）
その他（パスワード変更など）
あなたが自分で path('login', ... name='login') と書かなくても、この一行を書くだけで、これらの名前がプロジェクト全体で
使えるようになる仕組みです。

テンプレートの{% url 'login' %} でlogin.htmlのログイン画面に飛ぶのはpath('accounts/', include('django.contrib.auth.urls')) を記述しているから（クラスベースだからではない）
名前付きURLの定義: django.contrib.auth.urls の中に、あらかじめ name='login' という名前でURLパターンが定義
{% url 'login' %}は「login」で探す（URL：/accounts/login/）
テンプレートの{% url 'logout' %}も同様にログアウト画面だがloguot.htmlを用意してないから、djangoの用意している管理画面のログアウト画面に飛ぶと考える


-->